html,body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 13, 19, 1);
    color: #E1E1E6;
    font-family: 'Roboto', sans-serif;
    background-color: #D9D9D9;


}

.container{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8C8984;
    border-radius: 20px;
}

.capa{
    width: 18em;
    height: 18em;
    border-radius: 20px;

}

.nomeMusica{
    margin-bottom: 0px;
    font-weight: bold;
}

.autorMusica{
    margin-top: 0px;
    font-weight: 400;
}
.legenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botões{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 16em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playPause, .next{
    cursor: pointer;
}

@media (max-width:900px) {
    .container{
        width: 60%;
    }
    .capa{
        width: 9em;
        height: 9em;
    }
    .musica{
        width: 60%;
    }
    .botões{
        width: 60%;    }
}


@media (max-width:400px) {
    .container{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    body{
        margin: 0px
    }
}